<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rinconcito Mayiyi</title>
    <link rel="stylesheet" href="../Style/main2.css">
    <link rel="stylesheet" href="../Style/fontello.css">
</head>
<body style="background-color: #FFF07C;">
    <header>
        <div class="contenedor">
            <a href="../index2.html"><h1 class="icon-tree-2">Rinconcito Mayiyi</h1></a>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu-outline" for="menu-bar"></label>
            <nav class="menu">
                <span>Ubicacion</span>
                <span>Precios</span>
                <span  id="redes">Redes Sociales</span>
                <a href="views/API.html">API</a>
            </nav>
        </div>
    </header>
    <main>
        <section id="banner">
            <img src="../IMG/IMAGEN PORTADA.jpeg" alt="">
        </section>
        <h1>Api perro</h1>
        <div><img src="" alt="" id="imagen"></div>
        <button id="cambiar">Cambiar</button>
    </main>
    <script src="../scripts/api.js"></script>
</body>
</html>